.DS_Store
Thumbs.db

.idea/
.vscode/
*.iml
*.iws
*.eclipse
*.sublime-workspace

.env
.env.*
*.pem
secrets.yml

target/
*.class
*.log
*.jar
*.war
*.ear

!backend/.mvn/wrapper/maven-wrapper.jar

node_modules/
dist/
out/
build/
.next/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*